
.hiddenContainerContent{
    overflow: hidden;
}

.oai-schemas-transformation-separator {
    margin-left: 5px;
    margin-right: 5px;
}

.columnLayoutCenter{
    margin-left:auto;
    margin-right:auto;
}

.noDataSetSelected{
    text-align: center;
    vertical-align: middle;
    font-weight:bold;
}